
*{
    margin:0;
    padding:0;
}

body{
    background-color: rgb(36, 36, 36);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100vw;
    display: flex;
    justify-content: center;
}

button{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    background-color: #868686;
    color: white;
    font-size: 1.5rem;
    
}

button:active{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    background-color: #a3a3a3;
}

#CalcForFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 35vw;
}
#CalcContainer{
    display: grid;
    background-color: #383838;
    position: absolute;
    height:85vh;
    width: 30vw;
    border-radius: 5%;
    border: 3px outset #343434;
   /* column-gap: 2%; but we could just write gap and it'll do for row and column 
    row-gap: 2%;  specific row,column gaps */
    padding: 1%; 
    gap:2%;
    box-shadow: 20px 20px 20px #101010;
}

#screen{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-column: 1/4; 
    background-color: black;
    border-radius: 10px;
    width: 99%;
    height:80%;
    border: 2px inset rgb(84, 84, 84);
    margin-bottom:10%;
    color: white;
    font-size: 2rem;
}

.numbers{
    display: inline-block;
    user-select: none;
    background-image: linear-gradient(#6f6f6f,#5c5c5c);
}

.operator{
    user-select: none;
    background-image: linear-gradient(#434343,#000000);
    color: orange;
}

#equal{
    background-image: linear-gradient(#f9bb5c, #6704bd);
}

#clear {
    background-image: linear-gradient(#f9bb5c, #6704bd);
}

#clear:hover {
    animation-name: redPulse;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    background-image: none;
    background-color: red; /* Set the background color during hover */
}

@keyframes redPulse {
    0% { background-color: rgb(219, 0, 0); }
    50% { background-color: #a30000; }
    100% { background-color: rgb(219, 0, 0); }
}
